__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
env_bak/
venv_bak/


.idea/


instance/
*.sqlite
*.db


.poetry/


alembic/__pycache__/
alembic/versions/__pycache__/


*.log
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/


.DS_Store
" > .gitignore